@import "base";
@import "layout";
@import "modules/example";
@import "bootstrap/scss/bootstrap-grid";

// css boostrap
// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

.color-box {
  background-color: #36bfea;
  border-radius: 0px 8px 8px 8px;
  overflow: auto;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.title-box {
  background-color: #36bfea;
  border-radius: 8px 8px 0px 0px;
  margin: 0px;
  width: 188px;
  height: 39px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-left: 10px;
  text-align: center;
  font-weight: 400;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-click {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.boutton-temps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
